 

 .floatBtn {
    background: gray;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;
 }